<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yuki312.android.charin.demo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme" >
        <activity
            android:name=".controler.HistoryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="yuki312.android.charin.demo.interaction.InteractionService"
            android:exported="false" >
        </service>

        <provider
            android:name="yuki312.android.charin.demo.model.CharinProvider"
            android:authorities="yuki312.android.charin.demo"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
